# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv
venv/
ENV/
env.bak/
venv.bak/

# Project specifics
backend/venv/
backend/__pycache__/
backend/.env
backend/law_ai_db/
backend/law_ai_db_gemini/
